<div id="comment-form">
  <%= render 'comments/form' %>
</div>
<div id="comment" class="comments_box mb-3">
  <% @comment.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
</div>
