<div>
  <div class="d-flex gap-1">
    <% if unread %>
      <span class="badge bg-danger">Unread</span>
    <% end %>
    <div class="user_details">
      <%= user.email %> just commented on <%= link_to post.title, post, data: { turbo_frame: '_top' } %>
    </div>
  </div>
  <hr>
</div>
