<div>
  <% if unread %>
    <span class="badge bg-danger">Unread</span>
  <% end %>
  <div class="d-flex justify-content-between">
    <div class="user_details">
      <%= user.email %> just commented on <%= link_to post.title, post, data: { turbo_frame: '_top' } %>
    </div>
    <div class="text-muted">
      <%= time_ago_in_words(notification.created_at) + ' ago'%>
    </div>
  </div>
  <hr>
</div>
