<div>
  <% if unread %>
    <span class="badge bg-danger">Unread</span>
  <% end %>
  <span><%= user.email %> just commented on <%= link_to post.title, post, data: { turbo_frame: '_top' } %></span>
  <hr>
</div>
