<%= render 'layouts/return_home' %>
<% items = [
  ['Post', notification_path],
  ['Requests',request_notification_path]
]%>
<div class="text-end mx-4">
  <%= select_tag nil, options_for_select(items,request.path),onchange: "Turbo.visit(this.selectedOptions[0].value)", class: 'btn btn-primary '%>
</div>
