<div class="container">
  <p class="text-center text-muted fw-light ">Suggestions for <%= current_user.email %></p>
  <hr>
  <% users_not_followed.each do |user|%>
    <%= render 'posts/suggested_users', user: user %>
  <% end %>
</div>
