<% content_for(:html_title) { 'For You' } %>
<%= render 'layouts/return_home' %>
<h3 class="text-center text-muted fw-bold mt-5">Following</h3>
<p class="text-center text-muted fw-light ">All your followers posts will pop here!</p>
<hr>
<% if @users.present? %>
  <% @users.each do |user| %>
    <% user.posts.each do |post| %>
      <div class="mb-4">
        <%= render post%>
        <%= render 'posts/like_home', post: post%>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p class="text-center text-muted fw-light">No followers found!</p>
<% end %>
