<div class="p-2">
  <%= link_to root_path do %>
    <i class="bi bi-arrow-left h3"></i>
  <% end %>
</div>
<h3 class="text-center text-muted fw-bold mt-5">Following</h3>
<p class="text-center text-muted fw-light ">All your followers posts will pop here!</p>
<hr>
<% if @users.present? %>
  <% @users.each do |user| %>
    <% if user.posts.count > 0 %>
      <% user.posts.each do |post| %>
        <div class="mb-4">
          <%= render post%>
          <%= render 'posts/like_home', post: post%>
        </div>
      <% end %>
    <% else %>
      <h3 class="text-center text-muted fw-lighter mt-5 ">No posts here!</h3>
    <% end %>
  <% end %>
<% else %>
  <p class="text-center text-muted fw-light">No followers found!</p>
<% end %>
