<div class="container my-3 p-3 bg-body rounded shadow-sm">
  <h6 class="border-bottom pb-2 mb-0 mt-4">Recent updates</h6>
  <% current_user.follow_requests.limit(3).each do |request| %>
    <div class="d-flex justify-content-between text-body-secondary pt-3 border-bottom">
      <div class="pb-3 mb-0 small lh-sm">
        <strong class="text-gray-dark"><%= link_to request.followerable.name, profile_path(request.followerable.id) %></strong>
        requested to follow you. <small class="fw-light">(<%= time_ago_in_words(request.created_at)+ ' ago' %>)</small>
      </div>
      <div class="req_actions d-flex mb-2">
        <%= button_to "Accept", accept_path(request.followerable), class:'btn btn-primary btn-sm' %>
        <%= button_to "Decline", decline_path(request.followerable), class:'btn btn-danger mx-1 btn-sm' %>
      </div>
    </div>
  <% end %>
  <small class="d-block text-end mt-3">
    <a href="/notifications">All updates</a>
  </small>
</div>
