<div class="container">
  <hr>
  <div class="timeline-footer d-flex flex-wrap">
    <a href="javascript:;" class="mx-3 text-decoration-none text-dark">
      <i class="bi bi-hand-thumbs-up h4"></i> <%= pluralize(post.likes.count, 'like') %>
    </a>
    <a href="javascript:;" class="mx-3 text-decoration-none text-dark"><i class="bi bi-chat-dots-fill h4"></i> <%= pluralize(post.comments.count, 'comment') %>
    </a>
    <a href="javascript:;" class="mx-3 text-decoration-none text-dark"><i class="bi bi-share-fill h4"></i> Share
    </a>
  </div>
  <hr>
</div>
