<% content_for(:html_title) { "#{@post.title.first(10)}...." } %>
<%= render 'layouts/return_home' %>
<%= render @post %>
<div class="container">
  <div id="comment-form">
    <%= render 'comments/form' %>
  </div>
  <div id="comment">
    <% @comment.each do |comment| %>
      <%= render 'comments/comment', comment: comment %>
    <% end %>
  </div>
</div>
