<div class="p-2">
  <%= link_to root_path, class: 'text-decoration-none' do %>
    <div class="d-flex align-items-center gap-1">
      <div><i class="bi bi-arrow-left h3 text-decoration-none !important"></i></div>
      <span class="fw-light"> Return Home</span>
    </div>
  <% end %>
</div>
